a.btn {
    color: white;
    background-color: forestgreen;
    font-family: unset;
    font-size: 0.6em;
    padding: 1% 2% 1% 2%;
}
a.btn:hover, a.btn:active, a.btn:focus {
    background-color: limegreen;
}
.blog-title {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.blog-description {
    background:rgba(0,0,0,0.4);
    font-family: monospace, monospace;
    font-size: 1.3rem;
}
.blog-description a {
    text-decoration: none;
}
#site-head {
    background: #ffffff no-repeat center center;
    background-size: unset;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
    -webkit-filter: grayscale(1);
}
.post-content img {
    height: 1em;
    display: inline;
}
.vertical {
    vertical-align: bottom;
    padding: 10%;
}
